.bundle/
.idea/
Gemfile.lock
log/*.log
pkg/
spec/dummy/.sass-cache
spec/dummy/config/database.yml
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/

# gem build
*.gem

# simplecov
coverage

# YARD
.yardoc
doc

# rvm files should not be checked in as multiple rubies are supported in the CI builds
.ruby-gemset
.ruby-version
